@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* Progress bar animation */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.btn {
  @apply capitalize;
}

.btn-gradient {
  background: linear-gradient(60deg, #ff9500, #ff7200);
  @apply hover:saturate-[1.2] shadow duration-100 border-0 border-transparent text-white;
}

.bg-gradient {
  background: linear-gradient(60deg, #ff9500, #ff7200);
}
